body {
    background-color: #e0c48c;
    font-family: Arial, sans-serif;
}

header {
    background-color: #732c06    ;
    color: white;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a.active {
    font-weight: bold;
}

main {
    padding: 20px;
    height: calc(100vh - 100px);
    overflow-y: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #732c06;
    color: white;
}

.logotipo {
    width: 100px;
    height: 100px;
}
